@model SugarCube.Models.JournalEntry

@helper CalculateSize(string text, string image)
{
    //Some algorithm to calculate cube size
    if (!String.IsNullOrEmpty(text) && text.Length > 25)
    {
    <text>h-2</text>
    }
    else
    {
    <text>h-1</text>
    }
    if (!String.IsNullOrEmpty(image))
    {
    <text> v-2</text>
    }
    else
    {
    <text> v-1</text>
    }
}

<div class="item cube @CalculateSize(Model.Text, Model.Image) @Model.Type">
      <i class="icon-heart pull-right" style="color: #FFEEFB;"></i>
   <div class="inner">
     
    @if (!String.IsNullOrEmpty(Model.Image))
    {
        <img src="@Url.Content(Model.Image)" /><br />
    }
    <span class="title">@Model.Title</span><br />
    <span class="date">@Model.Date.ToLongDateString()</span><br />
      
    <div class="text">@Model.Text</div>
   </div>
</div>
